---
layout: default

lang: de
theme_switch_light_label: Hell
theme_switch_dark_label: Dunkel
navigation_home_label: Start
navigation_help_label: Hilfe
navigation_about_label: Über
navigation_blog_label: Blog
navigation_download_label: Download
footer_privacy_policy_link_label: Datenschutz
footer_eula_link_label: EULA
footer_replies_link_label: Probieren Sie replies.io! Unser smartes Werkzeug für den Kundendienst.
---

{{ content }}

<section class="modal" id="modal_macos">
    <div class="modaldialog smlnews">
        <span class="modalclose"></span>
        <h3>Newsletter abonnieren</h3>
        <h4>Wir empfehlen unseren Newsletter, um Neuigkeiten rund um Mailplane zu erfahren.</h4>
        <ul>
            <form action="https://update.mailplaneapp.com/newsletter_signup.php" method="post">
                <input type="hidden" name="language" value="de">
                <input type="text" name="contact_url" value="" tabindex="-1" autocomplete="off" aria-hidden="true" style="position: absolute; left: -10000px;">
                <li class="form-field">
                    <input class="field" type="email" placeholder="ihre@email.de" name="email" autocomplete="email" required>
                </li>
                <li class="form-btn">
                    <input class="bluebtn" type="submit" value="Registrieren">
                </li>
            </form>
        </ul>
        <p>Kein Spam. Erwarten Sie nicht mehr als zwei E-Mails pro Jahr.</p>
    </div>

    <div class="modalbg"></div>
</section>
<section class="modal" id="modal_non_macos">
    <div id="modal_non_macos_arrowjs-root"></div>
    <div class="modaldialog smlnews">
        <span class="modalclose"></span>
        <h3>Später downloaden</h3>
        <h4>Mailplane benötigt macOS 10.12 oder höher.</h4>
        <h4>Schicken Sie <strong><a href="mailto:?subject=Mailplane&body=%20Sie%20k%C3%B6nnen%20Mailplane%20hier%20runterladen%3A%20https%3A%2F%2Fmailplaneapp.com%2Fdownload">sich eine E-Mail</a></strong> und laden Sie Mailplane herunter, wenn Sie an Ihrem Mac sind.</h4>
    </div>
    <div class="modalbg"></div>
</section>
<script src="/assets/js/download-modal.2.js"></script>