---
layout: default_en
---

<script src="/assets/js/animations.js"></script>
<script src="/assets/landing_page/script.1.js"></script>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "SoftwareApplication",
        "name": "Mailplane 4",
        "description": "Mailplane is the best way to use Gmail on your Mac. Use an unlimited number of accounts, get new mail notifications, use plug-ins and much much more.",
        "operatingSystem": "macOS",
        "applicationCategory": "Productivity",
        "downloadUrl": "https://update.mailplaneapp.com/mailplane_4.php",
        "releaseNotes": "http://mailplaneapp.com/releases/mailplane4.html",
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "5",
            "reviewCount": "67" /* https://www.macupdate.com/app/mac/26607/mailplane#comments */
        },
        "offers": {
            "@type": "Offer",
            "price": "29.95",
            "priceCurrency": "USD"
        }
    }
</script>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://mailplaneapp.com",
        "logo": "https://mailplaneapp.com/assets/press/mailplane_app_icon.svg"
    }
</script>

<section class="banner">
    <div class="container">
        <div class="a-post">
        <!--
            <div class="a-post-wrap">
                <h3>Mailplane runs well on</h3>
                <h2>macOS Big Sur</h2>
                <p>
                    <a href="/blog/entry/macos_big_sur.html">Read Blog Post</a>
                </p>
            </div>
            <div class="decoration">
                <span class="decor-item-one"></span>
                <span class="decor-item-two"></span>
                <span class="decor-item-three"></span>
                <span class="decor-item-four"></span>
                <span class="decor-item-five"></span>
            </div>
        -->
        </div>
        <div class="main-cta">
            <h1>The best way to use Gmail on your Mac</h1>
            <ul>
                <li>
                    <a href="#" class="open-download-modal main-btn white-btn">Join Newsletter</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="clouds cwrap">
        <img src="/assets/landing_page_en/clouds-blue.svg" alt="clouds" class="cblue"
             data-dark-theme="/assets/landing_page_en/clouds-darker.svg" />
        <img src="/assets/landing_page_en/clouds-white.svg" alt="clouds" class="clouds cwhite"
             data-dark-theme="/assets/landing_page_en/clouds-dark.svg" />
    </div>
</section>

<section class="tour">
    <div class="container">
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-left">
                <h2>Gmail, Calendar & Contacts</h2>
                <p>Manage all your Gmail, Calendar and Contacts accounts in Mailplane instead of cluttering up your browser window.</p>
                <p>All-in-one app with Apple-like keyboard shortcuts. No separate set-up required.</p>
            </li>
            <li class="item-img img-right">
                <img src="/assets/landing_page_en/gmail_calendar_contacts@2x.png" data-dark-theme="/assets/landing_page_en/gmail_calendar_contacts-dark@2x.jpg" alt="Gmail, Calendar & Contacts" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-right">
                <h2>Notifier</h2>
                <p>Mailplane's notifier lets you know how many unread messages are in your inboxes, right from your Mac's menu bar.</p>
                <p>It also notifies you when new emails arrive. You can react directly by archiving a message or writing a quick reply.</p>
            </li>
            <li id="notifier_animation" class="item-img img-left">
                <img src="/assets/landing_page_en/notifier/01@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/01-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/02@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/02-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/03@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/03-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/04@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/04-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/05@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/05-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/06@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/06-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/07@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/07-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/08@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/08-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/09@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/09-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/10@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/10-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/11@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/11-dark@2x.jpg" alt="Notifier" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-left">
                <h2>Search & Navigate</h2>
                <p>Navigate Mailplane at the speed of light. No matter if you want to jump to a label, tab, account, or bookmark.</p>
                <p>Search for messages simultaneously across all your Gmail accounts.</p>
            </li>
            <li id="search_and_navigate" class="item-img img-right">
                <img src="/assets/landing_page_en/search_and_navigate/01@2x.png" data-dark-theme="/assets/landing_page_en/search_and_navigate/01-dark@2x.jpg" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/02@2x.png" data-dark-theme="/assets/landing_page_en/search_and_navigate/02-dark@2x.jpg" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/03@2x.png" data-dark-theme="/assets/landing_page_en/search_and_navigate/03-dark@2x.jpg" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/04@2x.png" data-dark-theme="/assets/landing_page_en/search_and_navigate/04-dark@2x.jpg" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/05@2x.png" data-dark-theme="/assets/landing_page_en/search_and_navigate/05-dark@2x.jpg" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/06@2x.png" data-dark-theme="/assets/landing_page_en/search_and_navigate/06-dark@2x.jpg" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/07@2x.png" data-dark-theme="/assets/landing_page_en/search_and_navigate/07-dark@2x.jpg" alt="Search & Navigate" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/08@2x.png" data-dark-theme="/assets/landing_page_en/search_and_navigate/08-dark@2x.jpg" alt="Search & Navigate" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-center">
                <h2>Annotation & Shapes</h2>
                <p>Get your point across with fewer words using annotations and shapes.</p>
            </li>
            <li id="annotation_and_shapes" class="item-img img-center">
                <img src="/assets/landing_page_en/annotation_and_shapes/02@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/02-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/02@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/02-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/03@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/03-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/04@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/04-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/05@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/05-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/06@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/06-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/07@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/07-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/08@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/08-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/09@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/09-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/10@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/10-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/11@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/11-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/12@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/12-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/13@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/13-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/14@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/14-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/15@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/15-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/16@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/16-dark@2x.jpg" alt="Annotation & Shapes" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-center">
                <h2>Integrations</h2>
                <p>Mailplane integrates with other macOS apps in various ways. See a comprehensive list <a href="help/integration.html">here</a>.</p>
            </li>
            <li id="integrations" class="img-center-integration">
                <img src="/assets/landing_page_en/integrations/01@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations/02@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations/03@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations/04@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations/05@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations/06@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations/07@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations/08@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations/09@2x.png" alt="Integrations" />
            </li>
            <li id="integrations_720px" class="img-center-integration">
                <img src="/assets/landing_page_en/integrations_720px/01@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/02@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/03@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/04@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/05@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/06@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/07@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/08@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/09@2x.png" alt="Integrations" />
            </li>
            <li id="integrations_540px" class="img-center-integration">
                <img src="/assets/landing_page_en/integrations_540px/01@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/02@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/03@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/04@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/05@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/06@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/07@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/08@2x.png" alt="Integrations" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/09@2x.png" alt="Integrations" />
            </li>
        </ul>
    </div>
</section>

<section class="plugins" id="extensions">
    <div class="container plugins-heading">
        <h2>Extensions</h2>
        <p>Third-party extensions enhance Mailplane. Give them a try with a single click.</p>
    </div>
    <ul class="logos">
        <li>
            <a href="https://www.grammarly.com"><img src="/assets/landing_page_en/extension_grammarly@2x.png" alt="Grammarly" /></a>
            <p>Enhance your written communication everywhere you type</p>
        </li>
        <li>
            <a href="https://gmelius.com"><img src="/assets/landing_page_en/extension_gmelius@2x.png" alt="Gmelius" /></a>
            <p>Make your inbox smarter with a shared inbox & CRM</p>
        </li>
        <li>
            <a href="https://hiverhq.com"><img src="/assets/landing_page_en/extension_hiver@2x.png" alt="Hiver" /></a>
            <p>Manage shared mailboxes and share labels with your team.</p>
        </li>
        <li>
            <a href="https://www.fullcontact.com"><img src="/assets/landing_page_en/extension_fullcontact@2x.png" alt="FullContact" /></a>
            <p>Know everything about your Gmail contacts right from your inbox</p>
        </li>
        <li class="logo-min">
            <a href="https://connect.clearbit.com"><img src="/assets/landing_page_en/extension_clearbit@2x.png" alt="Clearbit Connect" /></a>
            <p>Find email addresses and display useful contextual data</p>
        </li>
    </ul>
    <h3 class="logos-more logo-max">and more</h3>
    <ul class="logos-list logo-max">
        <li><p>Clearbit</p></li>
    </ul>
</section>

<section class="tour">
    <div class="container">
        <ul class="tour-item">
            <li class="item-copy item-center">
                <h2>Fluent in 6 Languages</h2>
                <p>Fully localized in English, Japanese, German, French, Spanish, and Italian.</p>
            </li>
            <li class="img-center-multilang">
                <img src="/assets/landing_page_en/languages@2x.png" alt="Fluent in 5 Languages"
                     data-dark-theme="/assets/landing_page_en/languages-dark@2x.png" />
            </li>
        </ul>
    </div>
</section>
