---
layout: default_de
---

<script src="/assets/js/animations.js"></script>
<script src="/assets/landing_page/script.1.js"></script>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "SoftwareApplication",
        "name": "Mailplane 4",
        "description": "Mailplane ist die beste Art und Weise Gmail auf Ihrem Mac zu nutzen. Verwenden Sie eine unbegrenzte Anzahl von Konten, erhalten Benachrichtigungen für neue E-Mails, installieren Erweiterungen und vieles mehr.",
        "operatingSystem": "macOS",
        "applicationCategory": "Productivity",
        "downloadUrl": "https://update.mailplaneapp.com/mailplane_4.php",
        "releaseNotes": "http://mailplaneapp.com/releases/mailplane4.html",
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "5",
            "reviewCount": "67" /* https://www.macupdate.com/app/mac/26607/mailplane#comments */
        },
        "offers": {
            "@type": "Offer",
            "price": "29.95",
            "priceCurrency": "USD"
        }
    }
</script>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://mailplaneapp.com",
        "logo": "https://mailplaneapp.com/assets/press/mailplane_app_icon.svg"
    }
</script>

<section class="banner">
    <div class="container">
        <!--
        <div class="a-post">
            <div class="a-post-wrap">
                <h2>Lizenzverkauf wurde eingestellt</h2>
                <p>
                    <a href="/blog/entry/mailplane_stopped_selling_licenses.html">Ankündigung lesen</a>
                </p>
            </div>
        </div>
        -->
        <div class="main-cta">
            <h1 style="color: #6c768a">Das beliebte Gmail Programm für den Mac</h1>
            <ul>
                <li>
                    <a href="#" class="open-download-modal main-btn white-btn">Newsletter</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="clouds cwrap">
        <img src="/assets/landing_page_en/clouds-blue.svg" alt="clouds" class="cblue"
             data-dark-theme="/assets/landing_page_en/clouds-darker.svg" />
        <img src="/assets/landing_page_en/clouds-white.svg" alt="clouds" class="clouds cwhite"
             data-dark-theme="/assets/landing_page_en/clouds-dark.svg" />
    </div>
</section>

<section class="tour">
    <div class="container">
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-left">
                <h2>Gmail, Kalender & Kontakte</h2>
                <p>Verwalten Sie alle Ihre Gmail-, Kalender- und Kontakt-Konten in Mailplane, anstatt Ihren Browser zu überladen.</p>
                <p>Alles in einem Mac Programm mit den gewohnten Tastenkombinationen.</p>
            </li>
            <li class="item-img img-right">
                <img src="/assets/landing_page_en/gmail_calendar_contacts@2x.png" data-dark-theme="/assets/landing_page_en/gmail_calendar_contacts-dark@2x.jpg" alt="Gmail, Kalender & Kontakte" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-right">
                <h2>Benachrichtigungen</h2>
                <p>Mailplane sitzt auch in der macOS Menüleiste und informiert Sie über ungelesene Nachrichten in ihrem Posteingang.</p>
                <p>Außerdem werden Sie benachrichtigt, wenn neue E-Mails eingehen und können direkt reagieren, indem Sie eine Nachricht archivieren oder eine kurze Antwort schreiben.</p>
            </li>
            <li id="notifier_animation" class="item-img img-left">
                <img src="/assets/landing_page_en/notifier/01@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/01-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/02@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/02-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/03@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/03-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/04@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/04-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/05@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/05-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/06@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/06-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/07@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/07-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/08@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/08-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/09@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/09-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/10@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/10-dark@2x.jpg" alt="Notifier" />
                <img style="display: none" src="/assets/landing_page_en/notifier/11@2x.jpg" data-dark-theme="/assets/landing_page_en/notifier/11-dark@2x.jpg" alt="Notifier" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-left">
                <h2>Suchen & Navigieren</h2>
                <p>Navigieren Sie mit Leichtigkeit durch Ihre Konten. Egal, ob Sie zu einem Label, einer Registerkarte, einem Konto oder einem Lesezeichen springen möchten.</p>
                <p>Außerdem können Sie nach Nachrichten über alle Ihre Gmail-Konten hinweg suchen.</p>
            </li>
            <li id="search_and_navigate" class="item-img img-right">
                <img src="/assets/landing_page_en/search_and_navigate/01@2x.png" data-dark-theme="/assets/landing_page_en/search_and_navigate/01-dark@2x.jpg" alt="Suchen & Navigieren" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/02@2x.png" data-dark-theme="/assets/landing_page_en/search_and_navigate/02-dark@2x.jpg" alt="Suchen & Navigieren" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/03@2x.png" data-dark-theme="/assets/landing_page_en/search_and_navigate/03-dark@2x.jpg" alt="Suchen & Navigieren" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/04@2x.png" data-dark-theme="/assets/landing_page_en/search_and_navigate/04-dark@2x.jpg" alt="Suchen & Navigieren" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/05@2x.png" data-dark-theme="/assets/landing_page_en/search_and_navigate/05-dark@2x.jpg" alt="Suchen & Navigieren" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/06@2x.png" data-dark-theme="/assets/landing_page_en/search_and_navigate/06-dark@2x.jpg" alt="Suchen & Navigieren" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/07@2x.png" data-dark-theme="/assets/landing_page_en/search_and_navigate/07-dark@2x.jpg" alt="Suchen & Navigieren" />
                <img style="display: none" src="/assets/landing_page_en/search_and_navigate/08@2x.png" data-dark-theme="/assets/landing_page_en/search_and_navigate/08-dark@2x.jpg" alt="Suchen & Navigieren" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-center">
                <h2>Ein Bild sagt mehr als tausend Worte!</h2>
                <p>Versehen Sie Bildanhänge mit Anmerkungen und Pfeilen, um Ihr Anliegen einfacher zum Ausdruck zu bringen.</p>
            </li>
            <li id="annotation_and_shapes" class="item-img img-center">
                <img src="/assets/landing_page_en/annotation_and_shapes/02@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/02-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/02@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/02-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/03@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/03-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/04@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/04-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/05@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/05-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/06@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/06-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/07@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/07-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/08@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/08-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/09@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/09-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/10@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/10-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/11@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/11-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/12@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/12-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/13@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/13-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/14@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/14-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/15@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/15-dark@2x.jpg" alt="Annotation & Shapes" />
                <img style="display: none" src="/assets/landing_page_en/annotation_and_shapes/16@2x.jpg" data-dark-theme="/assets/landing_page_en/annotation_and_shapes/16-dark@2x.jpg" alt="Annotation & Shapes" />
            </li>
        </ul>
        <!--Item-->
        <ul class="tour-item">
            <li class="item-copy item-center">
                <h2>Integrationen</h2>
                <p>Mailplane lässt sich mit zahlreichen macOS-Anwendungen integrieren. Eine umfassende Liste finden Sie <a href="help/integration.html">hier</a>.</p>
            </li>
            <li id="integrations" class="img-center-integration">
                <img src="/assets/landing_page_en/integrations/01@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations/02@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations/03@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations/04@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations/05@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations/06@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations/07@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations/08@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations/09@2x.png" alt="Integrationen" />
            </li>
            <li id="integrations_720px" class="img-center-integration">
                <img src="/assets/landing_page_en/integrations_720px/01@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/02@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/03@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/04@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/05@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/06@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/07@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/08@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations_720px/09@2x.png" alt="Integrationen" />
            </li>
            <li id="integrations_540px" class="img-center-integration">
                <img src="/assets/landing_page_en/integrations_540px/01@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/02@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/03@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/04@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/05@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/06@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/07@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/08@2x.png" alt="Integrationen" />
                <img style="display: none" src="/assets/landing_page_en/integrations_540px/09@2x.png" alt="Integrationen" />
            </li>
        </ul>
    </div>
</section>

<section class="plugins" id="extensions">
    <div class="container plugins-heading">
        <h2>Erweiterungen</h2>
        <p>Drittanbietern erweitern den Funktionsumfang von Mailplane. Ein Klick genügt um sie auszuprobieren.</p>
    </div>
    <ul class="logos">
        <li>
            <a href="https://www.grammarly.com"><img src="/assets/landing_page_en/extension_grammarly@2x.png" alt="Grammarly" /></a>
            <p>Verbessern Sie Ihre schriftliche Kommunikation</p>
        </li>
        <li>
            <a href="https://gmelius.com"><img src="/assets/landing_page_en/extension_gmelius@2x.png" alt="Gmelius" /></a>
            <p>Gemeinsame Posteingänge verwalten und CRM</p>
        </li>
        <li>
            <a href="https://hiverhq.com"><img src="/assets/landing_page_en/extension_hiver@2x.png" alt="Hiver" /></a>
            <p>Gemeinsame Postfächer verwalten und Labels mit dem Team teilen</p>
        </li>
        <li>
            <a href="https://www.fullcontact.com"><img src="/assets/landing_page_en/extension_fullcontact@2x.png" alt="FullContact" /></a>
            <p>Informationen über Ihre Kontakte direkt im Posteingang</p>
        </li>
        <li class="logo-min">
            <a href="https://connect.clearbit.com"><img src="/assets/landing_page_en/extension_clearbit@2x.png" alt="Clearbit Connect" /></a>
            <p>Zeigt nützliche Kontextdaten zu E-Mail Adressen an</p>
        </li>
    </ul>
    <h3 class="logos-more logo-max">und mehr</h3>
    <ul class="logos-list logo-max">
        <li><p>Clearbit</p></li>
    </ul>
</section>

<section class="tour">
    <div class="container">
        <ul class="tour-item">
            <li class="item-copy item-center">
                <h2>In 6 Sprachen verfügbar</h2>
                <p>Vollständige Übersetzungen in Deutsch, Englisch, Japanisch, Französisch, Spanisch und Italienisch.</p>
            </li>
            <li class="img-center-multilang">
                <img src="/assets/landing_page_en/languages@2x.png" alt="In 6 Sprachen verfügbar"
                     data-dark-theme="/assets/landing_page_en/languages-dark@2x.png" />
            </li>
        </ul>
    </div>
</section>
